.peculiarities {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.peculiarities-list {
    width: 270px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-right: 30px;
}
.peculiarities-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}
.peculiarities-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-title-color);
    width: 270px;
}
.icon-antena {
    align-items: center;
}
